body {
    font-family: 'Bitter';
    font-weight: 1000;
}

.header {
    background-color: #ffff00;
    padding: 1em;
    font-weight: 2000;
    font-size: 10px;
    text-align: center;

}

section {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
}

footer {
    background-color: #ffff00;
    text-align: center;
    padding: 1em;
    position:static;
    bottom: 0;
    width: 100%;
    margin-top: 30px;
}


#carouselExampleCaptions {
    max-width: 400px; /* Ajusta el ancho máximo según tus necesidades */
    margin: auto;
    margin-bottom: 20px; /* Centra el carrusel en la página */
}

.carousel-inner img {
    height: 300px; /* Ajusta la altura de las imágenes según tus necesidades */
    object-fit: cover; /* Hace que las imágenes se ajusten manteniendo su relación de aspecto */
}

#invitadosForm {
    text-align: center;
    padding: 10px;
}

#customGreet {
    font-size: 30px;
    margin-top: 10px;
}